<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head">
    </head>
    <body>
        <header th:replace="fragments :: header">
        </header>

        <section class="page-section cta2">
            <div class="container">
                <div class="col-xl-9 mx-auto d-flex justify-content-center">
                <div class="cta-inner bg-faded text-center rounded col-xl-9">
                 
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower text-secondary">UPS</span>
                    <span class="section-heading-upper">OCURRIÓ UN ERROR</span>
                </h2>
          
                 <img th:src="@{../img/monkey-pissed.gif}" alt="Gif de error" class="img-fluid mb-2 mb-lg-0 rounded">
                  <h1 th:text="${codigo}" class="mt-3"></h1>
                  <p th:text="${mensaje}"></p>
                  <a href="/" class="btn btn-primary">Ir a página principal</a>
              </div>
          
                  </div>
            
            </div>
            </section>

        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>
