<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head">
    </head>
    <body>
        <header th:replace="fragments :: header">
        </header>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-2 mb-lg-0 rounded" th:src="@{../img/monkey-pissed.gif}" />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">¿Y esto...</span>
                            <span class="section-heading-lower">cómo funciona?</span>
                        </h2>
                        <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, itaque? Nisi ab nihil rem iste blanditiis odit veniam numquam. Quo id architecto inventore, autem deleniti deserunt dolorem! Hic, quam atque.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">¡Mirá el tutorial!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">FÁCIL Y GRATUITO</span>
                                <span class="section-heading-lower">¡REGISTRATE!</span>
                            </h2>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section cta2">
            <div class="container">

                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">¿Sobre qué vas a escribir hoy?</span>
                            <span class="section-heading-lower">Elegí un disparador</span>
                        </h2>

                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div clas="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">SAUCE</h5>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-primary">Escribir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">JABÓN</h5>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-primary">Escribir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">PANQUEQUE</h5>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-primary">Escribir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="card col-lg-5 p-0 clickable-card">
                            <a class="text-decoration-none" th:href="@{/}">
                                <div class="row g-0">
                                    <div class="col-md-4 index-autor"></div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">PANQUEQUE</h5>
                                            <p class="card-text">Escribir</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>-->
                    </div>
                </div>

            </div>
        </section>
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>
