<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments :: head">
    </head>
    <body>
        <header th:replace="fragments :: header">
        </header>
        <main>
            <div class="container login-container">
                <div class="row">
                    <div class="col login-logo text-center">
                        <img th:src="@{../img/book.png}" alt="book logo" width="150px"/>
                    </div>
                    <div class="col signin-form form-control">
                        <form action="" method="post" id="registerForm" role="form">
                            <fieldset><legend class="text-center">Registrarse</legend>
                                <div class="form-group">
                                    <label for="emailReg"><span class="req">* </span> Email Address: </label>
                                    <input class="form-control" required type="text" name="email" id = "emailReg"  onchange="email_validate(this.value, 'reg');" />
                                    <div class="status" id="statusReg"></div>
                                </div>

                                <div class="form-group">
                                    <label for="pass1"><span class="req">* </span> Password: </label>
                                    <input required name="password" type="password" class="form-control inputpass" minlength="4" maxlength="16"  id="pass1" /> </p>

                                    <label for="pass2"><span class="req">* </span> Password Confirm: </label>
                                    <input required name="password" type="password" class="form-control inputpass" minlength="4" maxlength="16" placeholder="Enter again to validate"  id="pass2" onkeyup="checkPass(); return false;" />
                                    <span id="confirmMessage" class="confirmMessage"></span>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <input class="btn btn-secondary" type="submit" name="submit_reg" id="registerSubmit" value="Registarse">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </main>


<!--VISTA REGISTRO
<section class="page-section cta">
    <div class="container">
      <div class="col-xl-6 mx-auto">
      <div class="cta-inner bg-faded rounded mb-4">
        <h2 class="section-heading">
          <span class="section-heading-lower text-secondary text-center">Registrate</span>
      </h2>
        <div class="text-center mb-2"><i class="fas fa-user-circle fa-3x off"></i></div>
    <form>
      <div class="mb-3">
        <input id="correo" type="email" name="correo" placeholder="Correo" class="form-control" required/>
        <div class="invalid-feedback text-start">El correo es obligatorio</div>
      </div>
      <div class="mb-3">
        <input id="clave" type="password" name="clave" placeholder="Contraseña" class="form-control" required/>
        <div class="invalid-feedback text-start">La contraseña es obligatoria</div>
      </div>
      <div class="mb-3">
        <input id="username" type="text" name="username" placeholder="Username" class="form-control" required/>
        <div class="invalid-feedback text-start">El nombre de usuario es obligatorio</div>
      </div>
      <button type="submit" class="btn btn-primary">Registrarme</button>
      </form> 
  </div>
  </div>
    </div>
  </section>-->
  

        <footer th:replace="fragments :: footer">
        </footer>
    </body>
</html>